<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>60619296828-uvsmpnqe26rlco6du22ejkd07ef4er52.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.60619296828-uvsmpnqe26rlco6du22ejkd07ef4er52</string>
	<key>API_KEY</key>
	<string>AIzaSyDnYRpQW-ZDtD1iyLrxI3oXOqLITFNKgOE</string>
	<key>GCM_SENDER_ID</key>
	<string>60619296828</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Peter-Prentiss.ClickTalk</string>
	<key>PROJECT_ID</key>
	<string>clicktalk-f111c</string>
	<key>STORAGE_BUCKET</key>
	<string>clicktalk-f111c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:60619296828:ios:b425e2444040ba7d</string>
	<key>DATABASE_URL</key>
	<string>https://clicktalk-f111c.firebaseio.com</string>
</dict>
</plist>